.receipt-container {
    background: url('../Assets/background\ receipt.png') no-repeat center center;
    background-size: cover;
    padding: 20px;
  }
  
  @media print {
    body * {
      visibility: hidden;
    }
    .receipt-container, .receipt-container * {
      visibility: visible;
    }
    .receipt-container {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  