.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 50px;
    z-index: 1000; /* Bring the sidebar above everything else */
    transition: transform 0.3s ease; /* Add transition for smooth toggle effect */
    transform: translateX(100%);
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-links li {
    margin-bottom: 20px;
}

.sidebar-links li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.sidebar-links li a:hover {
    background-color: #555;
}
