body, h1, p {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li {
  padding: 0 15px;
}

.hero {
  background-color: #f9f9f9;
  padding: 2rem;
  text-align: center;
}

.events, .blog {
  padding: 2rem;
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}
